doctype html
head
    meta(charset="utf-8")
    style.
        body {
            background: white;
        }
        #word {
            color:darkcyan;
            margin-top: 50px;
        }
        .apply {
            border:3px solid gray;
            background-color: lightgray;
            border-radius: 12px;
            float: left;
            width: 49%;
            height: 300px;
            cursor:pointer;
        }
        button.apply:hover {
            background-color: mediumaquamarine;
            transition: 0.3s;
        }
        .box {
            border:none;
            background:none;
            width: 70%;
            height: auto;
        }
body
    center
        h1#word 신청화면
        div.box
            form(action="/apply/remain" method="get")
                button.apply
                    h1 잔류신청
            form(action="/apply/music" method="get")
                button.apply
                    h1 기상음악신청
            form(action="/all/remain" method="get")
                button.apply
                    h1 전체 잔류신청 조회
            form(action="/all/music" method="get")
                button.apply
                    h1 기상음악 신청 조회
