extends layout
block content
    center
        div.box
            h1 회원가입
            form(action="/auth/join" method="post")
                input(type="text" name="username" placeholder="아이디" autofocus required).input
                br
                input(type="text" name="realname" placeholder="실명" required).input
                br
                input#password(type="password" name="password" placeholder="비밀번호" required).input
                br
                input(type="password" name="repassword" placeholder="비밀번호 확인" required).input
                br
                if joinError
                    p.error= joinError
                br
                button(type="submit")#btn 회원가입
