extends layout
block content
    center
        div.box
            h1 로그인
            form(action="/auth/login" method="post")
                input(type="text" name="username" placeholder="아이디" autofocus required).input
                br
                input(type="password" name="password" placeholder="비밀번호" required).input
                br
                button(type="submit")#btn 로그인
            if loginError
                p.error= loginError
            p 아직 DMS Clone 회원이 아니시라면?
            a(href="/auth/join")#join 회원가입
