extends layout
block content
    a#component1.components(href='/') 부가기능
    a#component2.components(href='/') 공지사항
    a#component3.components(href='/apply') 신청화면
    if user1
        div#group
            form(action="/auth/logout" method="get")
                button.user(type="submit") 로그아웃
            form(action="/auth/change" method="get")
                button.user(type="submit" style="margin-top:10px;") 비밀번호 변경
    else
        form(action="/auth/login" method="get")
            button(type="submit")#login 로그인

