extends layout
block content
    center
        p 현재상황 #{status}
        div.box
            form(action="/apply/remain" method="post")
                select#status(name="status")
                    option(value=1) 금요귀가
                    option(value=2) 토요귀가
                    option(value=3) 토요귀사
                    option(value=0 selected="selected") 잔류
                div.innerbox
                    h1#title 잔류
                    div#content 잔류를 신청하신 경우 주말동안 기숙사에 남게 됩니다. 잔류를 신청하시겠습니까?
                button(type="submit") 신청
    script.
        document.getElementById('status').addEventListener('change', () => {
            var title = document.getElementById('title');
            var content = document.getElementById('content');
            document.querySelector('.innerbox').removeChild(title);
            document.querySelector('.innerbox').removeChild(content);
            var title2 = document.createElement('h1');
            var content2 = document.createElement('div');
            title2.id = 'title';
            content2.id = 'content';
            var target = document.getElementById('status');
            if(target.options[target.selectedIndex].text === '잔류') {
                content2.textContent = '잔류를 신청하신 경우 주말동안 기숙사에 남게 됩니다. 잔류를 신청하시겠습니까?';
            } else if(target.options[target.selectedIndex].text === '금요귀가') {
                content2.textContent = '금요귀가를 신청하신 경우 금요일 일과 종료 후 오후 8시 30분 이후 귀가하여 일요일 오전 8시 30분 이후 기숙사로 귀사 가능합니다. 금요귀가를 신청하시겠습니까?';
            } else if(target.options[target.selectedIndex].text === '토요귀가') {
                content2.textContent = '토요귀가를 신청하신 경우 토요일 오후 9시 이전에 귀가하여 일요일 오전 8시 30분 이후 기숙사로 귀사 가능합니다. 토요귀가를 신청하시겠습니까?';
            } else if(target.options[target.selectedIndex].text === '토요귀사') {
                content2.textContent = '토요귀사를 신청하신 경우 금요일 일과 종료 후 오후 8시 30분 이후 귀가하여 토요일 오전 8시 30분 이후 기숙사로 귀사 가능합니다. 토요귀사를 신청하시겠습니까?';
            }
            title2.textContent = target.options[target.selectedIndex].text;
            document.querySelector('.innerbox').appendChild(title2);
            document.querySelector('.innerbox').appendChild(content2);
        });

